.side-menu {
  width: 20px; /* Reduced width of the sidebar */
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo {
  width: 80px; /* Adjust the size of the logo */
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-options {
  margin-bottom: 20px;
}

.list-item-icon {
  color: #555;
}

.list-item-text {
  font-weight: bold;
}

@media (max-width: 768px) {
  .side-menu {
    width: 150px; /* Make it even smaller for smaller screens */
  }
  .logo {
    width: 60px;
    height: 60px;
  }
}
